Checks: >
  -*,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
